@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

html.dark body {
  background-color: #222;
}

html.light body{
  background-color: white;
}

.btn:hover {
  scale: 1.25;
  margin-left: 25px;
  margin-right: 25px;
  animation: pulse 1s infinite;
}

.themeBtn:hover {
  animation: pulse 1s infinite;
}

@media screen and (max-width: 550px) {
  .btn {
    width: 50%;
    font-size: 0.8rem;
  }
  
  .h {
    width: 50%;
    font-size: 1rem;
    height: 50%;
  }

  svg {
    width: 3rem;
    height: 3rem;
  }

  .h1 {
    width: 100%;
    font-size: 1.5rem;
    height: 25%;
  }

  .themeBtn {
    width: 4rem;
    height: 3rem;
    margin-right: 1rem;
  }

  .footer {
    font-size: 0.8rem;
  }

  .alimentationMain {
    display: grid;
  }

  .alimentationImg {
    width: 25%;
    height: 25%;
  }

  .alimentationText1 {
    height: 50%;
    width: 50%;
  }

  .alimentationText2 {
    height: 50%;
    width: 50%;
  }

  .alimentationTitle {
    height: 25%;
    font-size: 2rem;
  }
}
