@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

html.dark body {
  background-color: #222;
  transition: ease-in-out 0.5s;
}

html.light body {
  background-color: white;
  transition: ease-in-out 0.5s;
}

.btn {
  scale: 1;
  transition: ease-in 0.15s;
}

.btn:hover {
  scale: 1.1;
  /* margin-left: 25px; */
  /* margin-right: 25px; */
  animation: pulse 1s infinite;
}

.themeBtn:hover {
  animation: pulse 1s infinite;
}

@media screen and (max-width: 550px) {
  /*Main and buttons*/

  .btn {
    width: 50%;
    font-size: 0.8rem;
  }

  .h {
    width: 50%;
    font-size: 1rem;
    height: 50%;
  }

  svg {
    width: 3rem;
    height: 3rem;
  }

  .h1 {
    width: 100%;
    font-size: 1.5rem;
    height: 25%;
  }

  .themeBtn {
    width: 4rem;
    height: 3rem;
    margin-right: 1rem;
  }

  .footer {
    font-size: 0.8rem;
  }

  /*Alimentation component*/

  .alimentationSection {
    flex-direction: column;
  }

  .alimentationImg {
    height: 95%;
    width: 95%;
  }

  .alimentationText1 {
    width: 95%;
  }

  .alimentationText2 {
    width: 95%;
  }

  .alimentationTitle {
    height: 15%;
    font-size: 1.5rem;
  }

  /*Gym routine component*/

  .gymRoutineTitle {
    height: 15%;
    font-size: 1.5rem;
  }

  .gymRoutineDiv {
    width: 90%;
    height: 55%;
  }

  .dietsDiv {
    width: 90%;
  }

  .dietImage {
    width: 75%;
    height: 75%;
  }

  .dietSection {
    flex-direction: column;
  }

  .dietSectionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ketogenicDietTitle {
    width: 10rem;
  }

  .mediterraneanDietTitle {
    width: 9rem;
  }

  /*Common conditions component*/

  .commonConditionsSection {
    flex-direction: column;
  }

  .commonConditionsTitle {
    height: 15%;
    font-size: 1.5rem;
  }

  .commonConditionsImage {
    height: 95%;
    width: 95%;
  }

  .commonConditionsConclusion {
    width: 95%;
  }

  .commonConditionsList {
    width: 95%;
  }

  .commonConditionsConclusionTitle {
    width: 75%;
  }

  /*Addictions component*/

  .addictionsTitle {
    height: 15%;
    font-size: 1.5rem;
  }

  .addictionsSection {
    flex-direction: column;
  }

  .addictionsText1 {
    width: 95%;
  }

  .addictionsImage {
    width: 90%;
    height: 90%;
  }

  .addictionsText2 {
    width: 95%;
  }

  .addictionsText2Title {
    width: 80%;
  }

  /*Social support component*/

  .socialSupportTitle {
    height: 15%;
    font-size: 1.5rem;
  }

  .socialSupportSection {
    flex-direction: column;
  }

  .socialSupportText1 {
    width: 95%;
  }

  .socialSupportText1Title {
    width: 50%;
  }

  .socialSupportImage {
    width: 95%;
    height: 95%;
  }

  .socialSupportText2 {
    width: 95%;
  }

  .socialSupportText2Title {
    width: 75%;
  }

  /*Interpersonal relations component*/

  .interpersonalRelationsTitle {
    height: 15%;
    font-size: 1.5rem;
  }

  .interpersonalRelationsSection {
    flex-direction: column;
  }

  .interpersonalRelationsText1 {
    width: 95%;
  }

  .interpersonalRelationsText1Title {
    width: 75%;
  }

  .interpersonalRelationsText2 {
    width: 95%;
  }

  .interpersonalRelationsText2Title {
    width: 65%;
  }

  .interpersonalRelationsImage {
    width: 95%;
    height: 95%;
  }
}

@media (min-width: 551px) and (max-width: 1550px) {
  /*Main and buttons*/

  .btn {
    width: 25%;
    height: 50%;
    font-size: 1.5rem;
  }

  .h {
    width: 50%;
    font-size: 2.5rem;
  }

  svg {
    width: 3rem;
    height: 3rem;
  }

  .h1 {
    height: 25%;
  }

  .themeBtn {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  .footer {
    font-size: 1.5rem;
  }

  /*Alimentation component*/

  .alimentationSection {
    flex-direction: column;
  }

  .alimentationImg {
    height: 95%;
    width: 95%;
  }

  .alimentationText1 {
    width: 95%;
    font-size: 1rem;
  }

  .alimentationText2 {
    width: 95%;
    font-size: 1rem;
  }

  .alimentationTitle {
    height: 15%;
    font-size: 2.5rem;
  }

  /*Gym routine component*/

  .gymRoutineTitle {
    height: 15%;
    font-size: 2.5rem;
  }

  .gymRoutineDiv {
    width: 60%;
    height: 55%;
  }

  .gymRoutineDiv caption {
    font-size: 1.5rem;
  }

  .gymRoutineDiv th {
    font-size: 1.5rem;
  }

  .gymRoutineDiv tr {
    font-size: 1rem;
  }

  .dietsDiv {
    width: 90%;
  }

  .dietsDiv li {
    font-size: 1rem;
  }

  .dietsDiv h2 {
    font-size: 2rem;
  }

  .dietsDiv h3 {
    font-size: 1.5rem;
    width: 50%;
  }

  .dietsDiv p {
    font-size: 1rem;
  }

  .dietImage {
    width: 75%;
    height: 75%;
  }

  .dietSection {
    flex-direction: column;
  }

  .dietSectionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ketogenicDietTitle {
    width: 75%;
  }

  .mediterraneanDietTitle {
    width: 9rem;
  }

  /*Common conditions component*/

  .commonConditionsSection {
    flex-direction: column;
  }

  .commonConditionsTitle {
    height: 15%;
    font-size: 2.5rem;
  }

  .commonConditionsImage {
    height: 55%;
    width: 55%;
  }

  .commonConditionsConclusion {
    width: 95%;
  }

  .commonConditionsConclusion p {
    font-size: 1rem;
  }

  .commonConditionsList {
    width: 95%;
  }

  .commonConditionsSectionDiv h2 {
    font-size: 1.5rem;
  }

  .commonConditionsList li {
    font-size: 1rem;
  }

  .commonConditionsConclusionTitle {
    width: 75%;
    font-size: 1.5rem;
  }

  /*Addictions component*/

  .addictionsTitle {
    height: 15%;
    font-size: 2.5rem;
  }

  .addictionsSection {
    flex-direction: column;
  }

  .addictionsText1 {
    width: 95%;
  }

  .addictionsText1 h2 {
    width: 30%;
    font-size: 1.5rem;
  }
  
  .addictionsText1 p {
    font-size: 1rem;
  }

  .addictionsImage {
    width: 80%;
    height: 80%;
  }

  .addictionsText2 {
    width: 95%;
  }

  .addictionsText2 li {
    font-size: 1rem;
  }

  .addictionsText2Title {
    width: 50%;
    font-size: 1.5rem;
  }

  /*Social support component*/

  .socialSupportTitle {
    height: 15%;
    font-size: 2.5rem;
  }

  .socialSupportSection {
    flex-direction: column;
  }

  .socialSupportText1 {
    width: 95%;
  }

  .socialSupportText1 p {
    font-size: 1rem;
  }

  .socialSupportText1Title {
    width: 50%;
    font-size: 1.5rem;
  }

  .socialSupportImage {
    width: 75%;
    height: 75%;
  }

  .socialSupportText2 {
    width: 95%;
  }

  .socialSupportText2 p {
    font-size: 1rem;
  }

  .socialSupportText2Title {
    width: 55%;
    font-size: 1.5rem;
  }

  /*Interpersonal relations component*/

  .interpersonalRelationsTitle {
    height: 15%;
    font-size: 2.5rem;
  }

  .interpersonalRelationsSection {
    flex-direction: column;
  }

  .interpersonalRelationsText1 {
    width: 95%;
  }

  .interpersonalRelationsText1 p {
    font-size: 1rem;
  }

  .interpersonalRelationsText1Title {
    width: 35%;
    font-size: 1.5rem;
  }

  .interpersonalRelationsText2 {
    width: 95%;
  }

  .interpersonalRelationsText2 p {
    font-size: 1rem;
  }

  .interpersonalRelationsText2Title {
    width: 35%;
    font-size: 1.5rem;
  }

  .interpersonalRelationsImage {
    width: 75%;
    height: 75%;
  }
}
